<div class="col-md-10">
    <div class="col-md-1 pull-left">
        <a href="/blogs/new" class="btn btn-success">
            Add New Blog Post
        </a>
    </div>
    <div class="col-md-2 pull-right">
        {{#if metadata.prev}} 
        <a href="/blogs/{{metadata.prev}}/5" class="btn btn-primary">Prev</a> {{/if}} {{#if metadata.next}}
        <a href="/blogs/{{metadata.next}}/5" class="btn btn-primary">Next</a> {{/if}}
    </div>
    <br/><br/> {{#each blogs}}
    <div class="row">
        <div class="well">
            <a href="/blogs/{{_id}}">
                <h3>{{title}}</h3>
                {{#if views}}
                <div>Views: {{views}}</div>
                {{/if}}
                <p>{{content}}</p>
                <div class="pull-right">{{lastUpdated}}</div>
            </a>
        </div>
    </div>
    {{/each}}
</div>